<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.animators.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Animators</a> 
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled><span data-ng-if="new" translate>New</span><span data-ng-if="!new" translate>Modify</span></a>
        </div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;">
                <form style="margin:0;" name="registerForm" class="form-horizontal" data-ng-submit="submit();">
                    <fieldset style="position: relative;">
                        <div class="form-group">
                            <label for="email" class="col-xs-3 control-label" data-autofocus><span translate>Firstname</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-9">
                                <input type="text" placeholder="{{'Firstname'|translate}}" name="firstname" data-ng-model="animator.firstname" 
                                       id="firstname" class="form-control"  data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-xs-3 control-label"><span translate>Lastname</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-9">
                                <input type="text" placeholder="{{'Lastname'|translate}}" name="lastname" data-ng-model="animator.lastname" 
                                       id="lastname" class="form-control" data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-xs-3 control-label" ><span translate>Email</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-9">
                                <input type="email" placeholder="{{'Email'|translate}}" name="email" data-ng-model="animator.email" 
                                       id="email" class="form-control" data-ng-pattern="patEmail" data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-xs-3 control-label" ><span translate>Username</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-9">
                                <input type="text" placeholder="{{('e.g.'|translate) + '@ameliePoul1, indy-j, nikita45'}}" 
                                       name="username" data-ng-model="animator.username" id="username" class="form-control" 
                                       autocapitalize="off" autocorrect="off" data-ng-required="true" data-ng-disabled="!new"/>
                                <p class="help-block" translate>Note: Username can not be changed</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-xs-3 control-label" translate>Password</label>
                            <div class="col-xs-9" data-ng-if="!new">
                                <button type="button" class="btn btn-primary btn-raised btn-sm" data-ng-click="send();" data-ng-disabled="sending" 
                                   style="margin: 4px 0px 0px 0px;">
                                    <span data-ng-hide="sending" translate>Reset</span> 
                                    <span data-ng-show="sending" translate>Loading</span> 
                                    <div data-ng-show="sending"  class="preloader-wrapper xs active" style=" margin: -3px -3px -5px 3px;">
                                      <div class="spinner-layer spinner-white-only">
                                        <div class="circle-clipper left">
                                          <div class="circle"></div>
                                        </div><div class="gap-patch">
                                          <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                          <div class="circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                </button>
                            </div>
                            <div class="col-xs-9" data-ng-if="new" style="margin-top: 7px;">
                                <i translate>An email (including a link) will be sent to the animator.</i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-xs-3 control-label" translate>Language</label>
                            <div class="col-xs-9">
                                <select class="form-control" data-ng-init="language = language || languagesList[0].value" 
                                        data-ng-model="animator.language" 
                                        data-ng-options="language.value as language.name for language in languagesList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cafe" class="col-xs-3 control-label" translate>Café</label>
                            <div class="col-xs-9">
                                <select class="form-control" data-ng-model="animator.cafeID" 
                                                data-ng-options="cafe.value as cafe.name for cafe in cafesList">
                                </select>
                            </div>
                        </div>
                        <p class="text-danger text-right" style="padding-right: 5px;">
                            <sup>*</sup><i translate>Fields with a red star are mandatory</i>
                        </p>
                        <div class="text-right">
                            <a class="btn btn-default" ui-sref="home.animators.main" translate>Cancel</a>
                            <button type="submit" class="btn btn-primary" data-ng-if="new" data-ng-disabled="loading">
                                <span data-ng-hide="loading" translate>Create</span> 
                                <span data-ng-show="loading" translate>Loading</span> 
                                <div data-ng-show="loading"  class="preloader-wrapper xs active" style=" margin: -3px -3px -5px 3px;">
                                  <div class="spinner-layer spinner-white-only">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div><div class="gap-patch">
                                      <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>
                                </div>
                            </button>
                            <button type="submit" class="btn btn-primary" data-ng-if="!new" translate>Modify</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>