<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" data-ng-if="animators.length > 0" translate>List of animators</div>
<div class="list-group hc-list-group panel" style="clear: both;" data-ng-if="animators">
    <div data-ng-repeat="animator in animators" class="panel panel-default chatItem" style="height: 48px;">
        <a class="list-group-item" ui-sref="home.animators.profile({username:animator.username})" style="padding: 0 10px;padding-top: 5px;  height: 48px;">
            <div class="row-action-primary" style="padding-top: 5px;">
                <div class="avatar avatar-sm" data-ng-style="{'background-color': animator.avatar}">{{animator.firstname.substr(0, 1).toUpperCase()}}</div>
            </div>
            <div class="row-content" style="min-height: inherit;">
                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                    {{animator.firstname}} {{animator.lastname}} <i class="text-muted"><small>({{animator.cafeID}})</small></i>
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <a class="btn btn-flat btn-primary" href ui-sref="home.animators.edit({username:animator.username})" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-editor-mode-edit"></i>
            </a>
            <a class="btn btn-flat btn-default" href data-ng-click="deleteAnimator(animator);" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-material-red mdi-action-delete"></i>
            </a>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helper.length !== 0">
    <i data-ng-class="{'mdi-social-people': helper.length !== 0}"></i>
    <p class="lead">{{helper.title}}</p>
    <p>{{helper.text}}</p>
</div>
<a class="btn btn-primary btn-fab btn-raised mdi-content-add action-button" ui-sref="home.animators.new" style="z-index:1000;"></a>