<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.animators.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Animators</a> 
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Profile</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" data-ng-if="animator.who">
                    <div class="col-xs-4" style="font-weight: bold;" translate>I'm a</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.who | whoFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Name</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.firstname}} {{animator.lastname}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Email</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.email}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Username</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.username}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Language</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.language | languageFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Café</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.cafeID }}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Creation date</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.created | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Phone</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.phone | phoneFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Address</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{animator.homeAddress | unknownFormat}}</div>
                </div>
            </div>
        </div>
        <a ui-sref="home.animators.edit({username: animator.username})" class="btn btn-primary btn-raised pull-right" style="margin: 0px 0px 0px 10px;">
            <span translate>Edit</span>
        </a>
        <a href class="btn btn-danger btn-raised pull-right" style="margin: 0;" data-ng-click="deleteAnimator(animator);">
            <span translate>Delete</span>
        </a>
    </div>
</div>
