<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close(false);">&times;</button>
                <h4 class="modal-title" translate>Export a report</h4>
            </div>
            <div class="modal-body" id="print">
                <br>
                <hr style="margin-top: 10px;margin-bottom: 5px;">
                <div class="hc-list-table-row" style="padding-top:0;">
                    <div class="hc-list-table-left" style="padding-top:0;font-weight: normal;" ><span translate>Title</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="padding-top:0;font-weight: bold;">
                        {{session.title}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;" ><span translate>Description</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.description}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;"><span translate>Date</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.start | fullMonthDateFormat}} {{session.start | date:'yyyy'}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;"><span translate>Hour</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.start | timeFormat}} - {{session.start | endTimeFormat}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;"><span translate>Animator</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.animator}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;"><span translate>Followers</span><span translate>:</span></div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.followers}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;">Participants<span translate>:</span></div>
                </div>
                <table class="table table-condensed table-bordered" style="margin-bottom:5px;">
                    <thead>
                        <tr>
                            <th style="font-weight: normal;" translate>Name</th>
                            <th style="font-weight: normal;" translate>Public</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="peer in session.peers">
                            <td style="font-weight: bold;">{{peer.name}}</td>
                            <td style="font-weight: bold;">{{peer.who | whoFormat}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr style="margin-top: 5px;">
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close(false);" translate>Cancel</button>
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" data-ng-click="print();" translate>Print</button>
            </div>
        </div>  
    </div>
</div>