<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel();">&times;</button>
                <h4 class="modal-title" translate>You are interested by this session</h4>
            </div>
            <div class="modal-body">
                <br>
                <hr style="margin-top: 10px;margin-bottom: 5px;">
                <div class="hc-list-table-row" style="padding-top:0;">
                    <div class="hc-list-table-left" style="padding-top:0;font-weight: normal;" translate>Title</div>
                    <div class="hc-list-table-right" style="padding-top:0;font-weight: bold;">
                        {{session.title}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;" translate>Date</div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.start | fullMonthDateFormat}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;" translate>Hour</div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.start | timeFormat}} - {{session.start | endTimeFormat}}
                    </div>
                </div>
                <div class="hc-list-table-row">
                    <div class="hc-list-table-left" style="font-weight: normal;" translate>Animator</div>
                    <div class="hc-list-table-right" style="font-weight: bold;">
                        {{session.userID}}
                    </div>
                </div>
                <hr style="margin-top: 5px;">
                <p style="margin:0;" translate>Do you want to receive a reminder by email?</p>
                <div style="padding-left:10px;">
                    <div class="checkbox checkbox-primary" data-ng-repeat="reminder in remindersList" style="padding-left:0;">
                        <label>
                            <input type="checkbox" value="{{reminder.value}}" data-ng-model="reminder.state">
                            {{reminder.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="cancel();" translate>Cancel</button>
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" data-ng-click="close();" translate>Confirm</button>
            </div>
        </div>  
    </div>
</div>