<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>
                <h4 class="modal-title" translate></h4>
                <div style="height: 120px;width:50%;background: url(../../img/confused.png) no-repeat center center #fff;background-size: 50%;"></div>
            </div>
            <div class="modal-body" translate>We detected that you are trying to use the videoconferencing feature on an mobile device. We just want to remind you that the ACV platform has not been optimized for such purposes : the app is currently not supported on <b> iOS </b> devices and some features are unavailable on <b> Android </b> devices.</div>
            <div class="modal-body" translate>However, if you really want to pursue on your tablet/smartphone, please make sure you've downloaded the latest Jitsi <b> Android</b> version before connecting to the server :</div>
            <a href='https://play.google.com/store/apps/details?id=org.jitsi.meet&hl=fr'>
                <p style="text-align: center;" translate> Download Jitsi (Android) </p>
            </a>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();" translate>Got it!</button>
            </div>
        </div>
    </div>
</div>