<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close(false);">&times;</button>
                <h4 class="modal-title" translate>More details</h4>
            </div>
            <div class="modal-body">
                <br>
                <div  style="height: 70px;width:100%;" data-ng-style="session.image"></div>
                <br>
                <h4 class="modal-title">{{session.title}}</h4>
                <p>
               {{session.description}}
                </p>
                <p>
                    <i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> 
                    <span translate>from</span> <strong>{{session.start | timeFormat}}</strong> <span translate>to</span> <strong>{{session.start | endTimeFormat}}</strong>
                </p>
                <p>
                    <i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong>
                </p>
            </div>
            <div class="modal-footer" style="margin-top: 0;">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close(false);" translate>Back</button>
            </div>
        </div>  
    </div>
</div>