<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>
                <h4 class="modal-title" translate>Welcome to Alzheimer Café</h4>
            </div>
            <div class="modal-body" translate>
                Your password was created with success. You can now sign in.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();">OK</button>
            </div>
        </div>  
    </div>
</div>