<p translate>Home</p>
<p translate>Animators</p>
<p translate>Cafés</p>
<p translate>My Café</p>
<p translate>Participants</p>
<p translate>Sessions</p>
<p translate>Reminders</p>
<p translate>About</p>
<p translate>Conditions</p>