<div class="container" style="height: 100%;">
    <div class="col-md-10 col-md-offset-1" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="panel panel-default" style="height: 100%;">
                <div class="panel-heading" style="padding: 0;height: 35px;">
                    <div class="panel-title" style="padding-top: 4px;padding-left: 15px;padding-right: 15px;font-size: 20px;">
                        <div class="col-xs-8" style="padding: 0;" translate>Conditions of Use</div>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-raised btn-objectives btn-xs" style="margin: 0;padding: 4px 15px;margin-top: -3px;" 
                                    data-ng-click="update();" translate>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding: 5px;height: calc(100% - 35px);">
                    <div text-angular ta-toolbar="[['h3','h4','h5','p'],['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo'],['justifyLeft', 'justifyCenter', 'justifyRight'],['html','insertLink']]" data-ng-model="content" style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>