<div class="container">
    <p class="sign-title egle text-center" style="margin-top: 10px;"><strong>Alzheimer Café</strong></p>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Conditions of Use</div>
            <div class="panel panel-default" style="margin-bottom: 10px;">
                <div class="panel-body">
                    <div data-ng-bind-html="content | html"></div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-white btn-raised" ui-sref="signin" translate>Back</button>
        </div>
    </div>
</div>