<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Conditions of Use</div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-body">
                <div data-ng-bind-html="content | html"></div>
            </div>
        </div>
    </div>
</div>