<div class="container">
    <div class="signin-gap"></div>
    <p class="sign-title egle text-center" style="margin-top: 10px;"><strong>Alzheimer Café</strong> <span translate>Account Recovery</span></p>
    <div  ui-view></div>
</div>