<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Your reminders</div>
        <div class="panel panel-default" style="margin-bottom:15px" data-ng-repeat="session in sessions" >
            <div class="panel-body infoslist" style="padding:0;position: relative;">
                <div class="tableList">
                    <div class="row">
                        <div class="pull-left" style="padding:0px 15px 0px 15px;height: 129px;width: 115px;">
                            <div style="height: 169px;width:90px;" data-ng-style="session.image"></div>
                        </div>
                        <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                            <div>
                                <div style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                                    <h3 class="panel-title" style="padding:0;">
                                        {{session.title}}
                                    </h3>
                                </div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong></div>
                            </div>
                            <div style="padding-top: 13px;padding-bottom: 2px;">
                                <div><i class="mdi-action-alarm"></i> <span translate>Remind me</span><span data-ng-repeat="reminder in session.reminder.reminders"> <strong>{{whenList[reminder.when]}}</strong> <span data-ng-if="!$last" translate>and</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="padding:0px 10px 10px 0px;">
                    <a class="btn btn-raised btn-default" href data-ng-click="details(session);" style="margin: 0;padding: 5px 5px;margin-right: 5px;" translate>
                        Details
                    </a>
                    <a class="btn btn-raised btn-danger" href data-ng-click="deleteReminder(session)" style="margin: 0;padding: 5px 5px;" translate>
                        Disable
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center text-muted helper" data-ng-if="helper.length !== 0" style="padding-top: 0;">
            <i data-ng-class="{'mdi-action-alarm': helper.length !== 0}"></i>
            <p class="lead">{{helper.title}}</p>
            <p>{{helper.text}}</p>
        </div>
    </div>
</div>