<div class="col-md-10 col-md-offset-1" style="height: 100%;">
    <div class="row">
        <h3 style="margin-top:5px;display: inline-block; ">{{session.title}}</h3>
           <!-- <a  ng-if="!isConnected" class="btn btn-info btn-raised" href data-ng-click="launchjitsi('JITSI');" style="padding: 5px 10px;display: inline-block;margin-left: 1em" translate data-ng-disabled="false">
            Connect (Jitsi)</a> -->

                    <a  ng-if="!isConnected" class="btn btn-info btn-raised" href data-ng-click="launchjitsi('UCL');" style="padding: 5px 10px;display: inline-block;margin-left: 1em" translate data-ng-disabled="false">
            Connect</a>

    <div ng-if=(deviceDetector.raw.device.iphone||deviceDetector.raw.device.android) ng-init="showDeviceWarning(deviceDetector.raw.device)"> </div>

            <a  ng-if="isConnected" class="btn btn-danger btn-raised" href data-ng-click="closejitsi();" style="padding: 5px 10px;display: inline-block;margin-left: 1em" translate data-ng-disabled="false">Leave</a>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <script src="https://meet.jit.si/external_api.js"></script>
                    <div id="meet" style="margin-top:1em;"> </div>
                </div>
            </div>
            <!--<div class="col-md-3">
                <div class="list-group hc-list-group panel" style="clear: both; margin-top:1em;">
                    <div data-ng-repeat="peer in peers" class="panel panel-default chatItem" style="height: 48px;" data-ng-class="{'opacity4': !peer.connected}">
                        <div class="list-group-item" href style="padding: 0 10px;padding-top: 5px;height: 48px;">
                            <div class="row-action-primary" style="padding-top: 5px;">
                                <div class="avatar avatar-sm" data-ng-style="{'background-color': peer.avatar}">
                                    {{peer.firstname.substr(0, 1).toUpperCase()}}
                                </div>
                            </div>
                            <div class="row-content" style="min-height: inherit;">
                                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                                    {{peer.firstname}}
                                </h4>
                            </div>
                        </div>
                        <div class="item-options" style="top: 7px;width:70px;">
                            <a class="btn btn-flat btn-default" href data-ng-click="" style="margin: 0;padding: 5px 5px;" data-ng-if="false">
                                <i class="mdi-communication-call-end"></i>
                            </a>
                            <a class="btn btn-flat btn-default" href style="margin: 0;padding: 5px 5px;left: -40px;position:absolute;"
                               data-ng-show="peer.speaking">
                                <i class="mdi-av-volume-up"></i>
                            </a>
                            <div class="progress progress-striped active" style="margin-top: 6.5px;height:20px;">
                                <div class="progress-bar progress-bar-success" style="width: {{ peer.volume }}%"></div>
                            </div>
                        </div>
                        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
