<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-dismissable alert-{{alert.type}} text-center header-alert animated slideInDown" data-ng-show="alert.msg" style="top: 0;">
        <button type="button" class="close" data-ng-click="alert = {}"><i class="mdi-navigation-close"></i></button>
        {{alert.msg}}
    </div>
</div>
<div class="container">
    <div class="bigLogo signin" style="margin-top:10px;"></div>
    <p class="sign-title text-center egle" style="margin-top:20px;" translate>Welcome to <strong>Virtual Alzheimer Café</strong></p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="sign-title text-center egle" style="font-size:16px;margin:0;"><i>S’asseoir autour d’une tasse de café fumante, parler, échanger et retrouver le plaisir d’être ensemble dans l’espace social : <br>c'est le principe de l'Alzheimer Café.</i></p>
        </div>
    </div>
    <br>
    <div class="row-fluid clearfix">
        <div class="panel panel-default col-md-4 col-md-offset-4">
            <div class="panel-body" style="padding: 5px 0px 5px;">
                <form class="login" data-ng-submit="signin();">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="{{'Email'|translate}}" data-ng-model="email" 
                               class="form-control" autocapitalize="off" autocorrect="off" required/>
                        <input type="password" id="password" name="password" placeholder="{{'Password'|translate}}" data-ng-model="password" 
                               class="form-control" required/>
                    </div>
                    <div class="remember-forgot">
                        <div class="row-fluid">
                            <div class="col-xs-7" style="padding: 0;">
                                <div class="checkbox checkbox-primary" style="margin: 0;padding-left: 0;">
                                    <label>
                                        <input data-ng-model="rememberme" type="checkbox"> {{rememberLabel}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-5 forgot-pass-content" style="padding: 0;margin-top: 5px;">
                                <a ui-sref="recovery.lost" class="forgot-pass" translate>Need help?</a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-raised"  translate>Log In</button>
                </form>
                <div class="text-center" style="margin:10px;"><a ui-sref="conditions" class="forgot-pass" translate>Conditions of Use</a></div>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="width: 390px;">
            <div class="pull-left"><div style="margin-top: 20px;" class="logoLALZ"></div></div>
            <div class="pull-right text-left" style="width: 250px;margin-top: 9px;">
                <p style="margin: 0;">LIGUE ALZHEIMER ASBL</p>
                <p style="margin: 0 0 5px;"><b>A</b>ccompagner<br><b>I</b>nformer<br><b>D</b>éfendre<br><b>E</b>couter</p>
                <p style="margin: 0;line-height: 1.1;">près de chez vous</p>
            </div>
        </div>
    </div>
</div>