<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;">
                <form style="margin:0;" name="videoForm" class="form-horizontal" data-ng-submit="submit();">
                    <fieldset style="position: relative;">
                        <div class="form-group">
                            <label for="title" class="col-xs-3 control-label" data-autofocus><span translate>Link</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-8">
                                <input type="text" placeholder="{{'Link'|translate}}" name="link" data-ng-model="video.link" 
                                       id="link" class="form-control"  data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" translate>Modify</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>