<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-forward" style="position: absolute;right: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(true);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">Bienvenue</h4>
                </div>
                <div class="modal-body">
                    <div  style="height: 160px;width:100%;background: url(../../img/about/1.png) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Bienvenue dans l’Alzheimer Café Virtuel de la Ligue Alzheimer ASBL :
                    </p>
                    <p>
                        Avant de vous joindre à l’expérience, permettez-nous de vous apporter les quelques informations suivantes…
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>