<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back" style="position: absolute;left: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(false);"></a>
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-forward" style="position: absolute;right: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(true);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">1. <b>C</b>onvivialité</h4>
                </div>
                <div class="modal-body">
                    <div  style="height: 160px;width:100%;background: url(../../img/about/3.jpg) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Chacun s’appelle par son prénom. Cela simplifie les contacts et permet un échange chaleureux et humain, dans une atmosphère où la place est laissée à l’expression du ressenti et des émotions.
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>