<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back" style="position: absolute;left: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(false);"></a>
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-forward" style="position: absolute;right: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(true);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">2. <b>A</b>nimation</h4>
                </div>
                <div class="modal-body">
                    <div  style="height: 130px;width:100%;background: url(../../img/about/4.jpg) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Les séances sont organisées et gérées par des animateurs formés par la Ligue Alzheimer ASBL.
                    </p>
                    <p>
                        Leur rôle est de favoriser les échanges, réguler le temps de parole, écouter, compléter l’information échangée, …
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>