<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back" style="position: absolute;left: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(false);"></a>
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-forward" style="position: absolute;right: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(true);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">3. <b>F</b>in du tabou</h4>
                </div>
                <div class="modal-body">
                    <div  style="height: 130px;width:100%;background: url(../../img/about/5.jpg) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Il n’est pas toujours aisé de parler de la maladie d’Alzheimer et des difficultés qu’elle engendre. Ici, pas de tabou, on peut parler de son vécu, exprimer ses interrogations et ses pensées. La règle est au non-jugement. Chacun pouvant apporter son regard, sa vision dans cet espace où l’on se respecte les uns les autres.
                    </p>
                    <p>
                        Ici, on peut parler de toute forme de démence, de la maladie d’Alzheimer et des autres pathologies apparentées.
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>