<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back" style="position: absolute;left: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(false);"></a>
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-forward" style="position: absolute;right: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(true);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">4. <b>É</b>coute</h4>
                </div>
                <div class="modal-body">
                    <div style="height: 130px;width:100%;background: url(../../img/about/6.jpg) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Dans cet Alzheimer Café Virtuel, la notion de respect du temps de parole de chacun est primordiale. On parle l’un après l’autre car parler en même temps rendrait la séance impossible à suivre pour l’ensemble du groupe.
                    </p>
                    <p>
                        Et dans la prolongation de cette écoute, le respect de l'anonymat est de mise en dehors des séances.
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>