<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <a href class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back" style="position: absolute;left: 10px;top: calc(50% - 28px);color: white;" data-ng-click="close(false);"></a>
            <div style="margin-right: 56px;margin-left: 56px;">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:#3f51b5;padding-bottom:15px;">Alzheimer Café Virtuel</h4>
                </div>
                <div class="modal-body">
                    <div  style="height: 130px;width:100%;background: url(../../img/about/7.JPG) no-repeat center center #fff;background-size: 100%;"></div>
                    <br>
                    <p>
                        Suivant ces 4 principes, nous souhaitons vous fournir, au travers de cet Alzheimer Café Virtuel, un espace sécurisant et sécurisé.<br>Il permet de rompre l’isolement, briser le tabou, échanger avec d’autres personnes vivant des situations semblables, créer des liens et des réseaux informels favorables à un soutien mutuel.
                    </p>
                    <p>
                        Nous vous souhaitons une agréable expérience parmi nous. 
                    </p>
                </div>
                <div class="modal-footer" style="margin-top: 0;padding-bottom: 15px;padding-right: 15px;">
                    <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal" data-ng-click="close(true);"><span translate>I have read</span> <i class="mdi-navigation-check" style="font-size: 18px;"></i></button>
                </div>
            </div>
        </div>  
    </div>
</div>