<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>My participants : unactivated</div>
<div class="list-group hc-list-group panel" style="clear: both;" data-ng-show="helperUnactivated.length == 0">
    <div data-ng-repeat="participant in filtredParticipants = (participants | filter: filterUnactivated)" class="panel panel-default chatItem" style="height: 48px;">
        <a class="list-group-item" ui-sref="home.participants.profile({username:participant.username})" style="padding: 0 10px;padding-top: 5px;height: 48px;">
            <div class="row-action-primary" style="padding-top: 5px;">
                <div class="avatar avatar-sm" data-ng-style="{'background-color': participant.avatar}">
                    {{participant.firstname.substr(0, 1).toUpperCase()}}
                </div>
            </div>
            <div class="row-content" style="min-height: inherit;">
                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                    {{participant.firstname}} {{participant.lastname}}
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <a class="btn btn-flat btn-primary" href ui-sref="home.participants.edit({username:participant.username})" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-editor-mode-edit"></i>
            </a>
            <a class="btn btn-flat btn-default" href data-ng-click="deleteParticipant(participant);" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-material-red mdi-action-delete"></i>
            </a>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-show="helperUnactivated.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperUnactivated.title}}</p>
</div>
<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>My participants : activated</div>
<div class="list-group hc-list-group panel" style="clear: both;" data-ng-show="helperActivated.length == 0">
    <div data-ng-repeat="participant in filtredParticipants = (participants | filter: filterActivated)" class="panel panel-default chatItem" style="height: 48px;">
        <a class="list-group-item" ui-sref="home.participants.profile({username:participant.username})" style="padding: 0 10px;padding-top: 5px;height: 48px;">
            <div class="row-action-primary" style="padding-top: 5px;">
                <div class="avatar avatar-sm" data-ng-style="{'background-color': participant.avatar}">
                    {{participant.firstname.substr(0, 1).toUpperCase()}}
                </div>
            </div>
            <div class="row-content" style="min-height: inherit;">
                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                    {{participant.firstname}} {{participant.lastname}}
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <a class="btn btn-flat btn-primary" href ui-sref="home.participants.edit({username:participant.username})" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-editor-mode-edit"></i>
            </a>
            <a class="btn btn-flat btn-default" href data-ng-click="deleteParticipant(participant);" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-material-red mdi-action-delete"></i>
            </a>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-show="helperActivated.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperActivated.title}}</p>
</div>
<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Other participants</div>
<div class="list-group hc-list-group panel" style="clear: both;" data-ng-show="helperOthers.length == 0">
    <div data-ng-repeat="participant in filtredParticipants = (participants | filter: filterOthers)" class="panel panel-default chatItem" style="height: 48px;">
        <a class="list-group-item" ui-sref="home.participants.profile({username:participant.username})" style="padding: 0 10px;padding-top: 5px;height: 48px;">
            <div class="row-action-primary" style="padding-top: 5px;">
                <div class="avatar avatar-sm" data-ng-style="{'background-color': participant.avatar}">
                    {{participant.firstname.substr(0, 1).toUpperCase()}}
                </div>
            </div>
            <div class="row-content" style="min-height: inherit;">
                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                    {{participant.firstname}} {{participant.lastname}} <i class="text-muted"><small>(<span translate>created by</span> {{participant.animatorID}})</small></i>
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <a class="btn btn-flat btn-primary" href ui-sref="home.participants.edit({username:participant.username})" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-editor-mode-edit"></i>
            </a>
            <a class="btn btn-flat btn-default" href data-ng-click="deleteParticipant(participant);" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-material-red mdi-action-delete"></i>
            </a>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-show="helperOthers.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperOthers.title}}</p>
</div>
<a class="btn btn-primary btn-fab btn-raised mdi-content-add action-button" ui-sref="home.participants.new" style="z-index:1000;"></a>