<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.participants.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Participants</a> 
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Profile</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" data-ng-if="participant.who">
                    <div class="col-xs-4" style="font-weight: bold;" translate>I'm a</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.who | whoFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Name</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.firstname}} {{participant.lastname}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Email</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.email}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Username</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.username}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Language</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.language | languageFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Creation date</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.created | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Phone</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.phone | phoneFormat}}</div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="font-weight: bold;" translate>Address</div>
                    <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">{{participant.homeAddress | unknownFormat}}</div>
                </div>
            </div>
        </div>
        <a ui-sref="home.participants.edit({username: participant.username})" class="btn btn-primary btn-raised pull-right" style="margin: 0px 0px 0px 10px;">
            <span translate>Edit</span>
        </a>
        <a href class="btn btn-danger btn-raised pull-right" style="margin: 0;" data-ng-click="deleteParticipant(participant);">
            <span translate>Delete</span>
        </a>
    </div>
</div>
