<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Today's sessions</div>
<div class="panel panel-default" style="margin-bottom:15px" data-ng-repeat="session in filteredSessions = (sessions | filter: filterToday)">
    <div class="panel-body infoslist" style="padding:0;position: relative;">
        <div class="tableList">
            <div class="row">
                <div class="pull-left" style="padding:0px 15px 0px 15px;height: 90px;width: 115px;" data-ng-class="{'grayscale': session.disabled}">
                    <div style="height: 130px;width:90px;" data-ng-style="session.image"></div>
                </div>
                <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                    <div>
                        <div style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                            <h3 class="panel-title" style="padding:0;">
                                {{session.title}}
                            </h3>
                        </div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-social-people"></i> <span translate>Followed by</span> <strong>{{session.followers}}</strong> <span translate>participants</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" style="padding:0px 10px 10px 0px;">
            <a data-ng-disabled="session.disabled" class="btn btn-raised btn-danger" href data-ng-click="disableSession(session);" style="margin: 0;padding: 5px 5px;margin-right: 5px;" translate>
                Disable
            </a>
            <a class="btn btn-raised btn-primary" data-ng-class="{'grayscale opacity4': session.disabled}" data-ng-disabled="session.disabled" data-ng-click="join(session);" style="margin: 0;padding: 5px 5px;" translate>
                Join
            </a>
        </div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helperToday.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperToday.title}}</p>
</div>