<div class="panel panel-material-white" style="margin-bottom:15px">
    <a class="panel-heading" href style="border-top-right-radius: 0;border-top-left-radius: 0;padding: 0;height: 35px;color: #000;text-decoration: none;" data-ng-click="more =!more;toggle();">
        <div class="panel-title">
            <span translate>How it works?</span>
            <button type="button" class="close" style="opacity:1;text-shadow: none;color: #000;">
                <i data-ng-class="{'mdi-navigation-expand-more': !more,'mdi-navigation-expand-less': more}"></i>
            </button>
        </div>
    </a>
    <div class="panel-body" style="padding:0;position: relative;" data-ng-show="more">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-ng-src="{{vidLink}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Today's sessions</div>
<div class="panel panel-default" style="margin-bottom:15px" data-ng-repeat="session in filteredSessions = (sessions | filter: filterToday)">
    <div class="panel-body infoslist" style="padding:0;position: relative;">
        <div class="tableList">
            <div class="row">
                <div class="pull-left" style="padding:0px 15px 0px 15px;height: 90px;width: 115px;" data-ng-class="{'grayscale': session.disabled}">
                    <div style="height: 130px;width:90px;" data-ng-style="session.image"></div>
                </div>
                <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                    <div>
                        <div style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                            <h3 class="panel-title" style="padding:0;">
                                {{session.title}}
                            </h3>
                        </div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;position:absolute;" data-ng-if="session.disabled">
                        <div><i class="mdi-alert-warning"></i> <strong class="text-danger" translate>This session was canceled</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" style="padding:0px 10px 10px 0px;">
            <a class="btn btn-raised btn-default" data-ng-class="{'grayscale opacity4': session.disabled}" data-ng-disabled="session.disabled" href data-ng-click="details(session, true);" style="margin: 0;padding: 5px 5px;" translate>
                Details
            </a>
            <a class="btn btn-raised btn-primary" data-ng-class="{'grayscale opacity4': session.disabled}" data-ng-disabled="session.disabled" data-ng-click="join(session);" style="margin: 0;padding: 5px 5px;" translate>
                Join
            </a>
        </div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helperToday.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperToday.title}}</p>
    <p>{{helperToday.text}}</p>
</div>
<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Coming sessions</div>
<div class="panel panel-default" data-ng-repeat="session in filteredSessions = (sessions | filter: filterUpcoming)" style="margin-bottom:15px">
    <div class="panel-body infoslist" style="padding:0;position: relative;">
        <div class="tableList">
            <div class="row">
                <div class="pull-left" style="padding:0px 15px 0px 15px;height: 90px;width: 115px;" data-ng-class="{'grayscale': session.disabled}">
                    <div  style="height: 130px;width:90px;" data-ng-style="session.image"></div>
                </div>
                <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                    <div>
                        <div style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                            <h3 class="panel-title" style="padding:0;">
                                {{session.title}}
                            </h3>
                        </div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;position:absolute;" data-ng-if="session.disabled">
                        <div><i class="mdi-alert-warning text-danger"></i> <strong class="text-danger" translate>This session was canceled</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" style="padding:0px 10px 10px 0px;">
            <a class="btn btn-raised btn-default" data-ng-class="{'grayscale opacity4': session.disabled}" data-ng-disabled="session.disabled" href data-ng-click="details(session, false);" style="margin: 0;padding: 5px 5px;margin-right: 5px;" translate>
                Details
            </a>
            <a href class="btn btn-raised btn-default" data-ng-class="{'grayscale opacity4': session.disabled}" data-ng-disabled="session.disabled" style="margin: 0;padding: 5px 5px;" data-ng-click="follow(session);">
                <i class="mdi-material-red" style="font-size: 18px;" data-ng-class="{'mdi-action-favorite': session.followed, 'mdi-action-favorite-outline': !session.followed}"></i> <span translate>Follow</span>
            </a>
        </div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helper.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helper.title}}</p>
    <p>{{helper.text}}</p>
</div>