<div class="hc-breadcrumb">
    <a ui-sref="home.profile.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Profile</a> 
    <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Informations</a>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-dismissable alert-{{alert.type}} widgetAlert widgetAlert-sm" data-ng-repeat="alert in alerts">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{alert.title}}</strong> {{alert.msg}}
        </div>
        <form class="form-horizontal" name="form" data-ng-submit="updateBasic();">
            <fieldset>
                <div class="col-sm-offset-1 col-sm-9" style="float: none;">
                    <div class="form-group" data-ng-if="profile.who">
                        <label for="who" class="col-xs-3 control-label" translate>I'm a</label>
                        <div class="col-xs-9">
                            <select class="form-control" data-ng-model="profile.who" data-ng-required="true" required
                                    data-ng-options="who.value as who.name for who in whosList">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-xs-3 control-label"><span translate>Firstname</span><sup class="text-danger">*</sup></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstname" ng-model="profile.firstname" placeholder="{{'Firstname'|translate}}" data-ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-xs-3 control-label"><span translate>Lastname</span><sup class="text-danger">*</sup></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastname" ng-model="profile.lastname" placeholder="{{'Lastname'|translate}}" data-ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-xs-3 control-label"><span translate>Email</span><sup class="text-danger">*</sup></label>
                        <div class="col-xs-9">
                            <input type="email" class="form-control" id="email" ng-model="profile.email" placeholder="{{'Email'|translate}}" data-ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-xs-3 control-label" translate>Phone</label>
                        <div class="col-xs-9">
                            <input type="tel" class="form-control" id="phone" name="phone" ng-model="profile.phone" placeholder="{{'Phone'|translate}}"
                                   data-ng-pattern="numeric" maxlength="13" data-ng-minlength="9" data-ng-maxlength="13">
                        </div>
                    </div>
                    <div class="form-group" data-oc-lazy-load="['/bower_components/ngmap/build/scripts/ng-map.min.js']">
                        <label for="homeAddress" class="col-xs-3 control-label" translate>Address</label>
                        <div class="col-xs-9" map-lazy-load="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
                            <input type="text" class="form-control" id="homeAddress" ng-model="profile.homeAddress" places-auto-complete>
                        </div>
                    </div>
                    <p class="text-danger text-right" style="padding-right: 5px;">
                        <sup>*</sup><i translate>Fields with a red star are mandatory</i>
                    </p>
                </div>
                <div class="text-right">
                    <a class="btn btn-default" ui-sref="home.profile.main" translate>Cancel</a>
                    <button type="submit" class="btn btn-primary" translate>Change</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>