<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" data-ng-if="cafes.length > 0" translate>List of cafés</div>
<div class="list-group hc-list-group panel" style="clear: both;" data-ng-if="cafes">
    <div data-ng-repeat="cafe in cafes" class="panel panel-default chatItem" style="height: 48px;">
        <a class="list-group-item" ui-sref="home.cafes.edit({id:cafe._id})" style="padding: 0 10px;padding-top: 5px;  height: 48px;">
            <div class="row-content" style="min-height: inherit;">
                <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                    {{cafe.name}}
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <a class="btn btn-flat btn-default" href data-ng-click="deleteCafe(cafe);" style="margin: 0;padding: 5px 5px;" >
                <i class="mdi-material-red mdi-action-delete"></i>
            </a>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helper.length !== 0">
    <i data-ng-class="{'mdi-maps-local-cafe': helper.length !== 0}"></i>
    <p class="lead">{{helper.title}}</p>
    <p>{{helper.text}}</p>
</div>
<a class="btn btn-primary btn-fab btn-raised mdi-content-add action-button" ui-sref="home.cafes.new" style="z-index:1000;"></a>