<div class="col-md-6 col-md-offset-3" data-oc-lazy-load="['/bower_components/ngmap/build/scripts/ng-map.min.js']">
    <div class="row">
        <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>My café</div>
        <div class="panel panel-default" style="margin-bottom: 10px;" data-ng-if="helper.length == 0">
            <div class="panel-body" style="padding: 5px;">
                <form style="margin:0;" name="registerForm" class="form-horizontal" data-ng-submit="submit();">
                    <fieldset style="position: relative;">
                        <div class="form-group">
                            <label for="name" class="col-xs-3 control-label" data-autofocus><span translate>Name</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-8">
                                <input type="text" placeholder="{{'Name'|translate}}" name="name" data-ng-model="cafe.name" 
                                       id="name" class="form-control"  data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-xs-3 control-label" translate>Description</label>
                            <div class="col-xs-8">
                                <textarea rows="3" type="text" placeholder="{{'Description'|translate}}" name="description" 
                                          data-ng-model="cafe.description" id="description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-xs-3 control-label" translate>Place</label>
                            <div class="col-xs-8" map-lazy-load="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
                                <input type="text" class="form-control" id="homeAddress" ng-model="cafe.place" component-restrictions="{country:'be'}" types="['(cities)']" places-auto-complete>
                            </div>
                        </div>
                        <p class="text-danger text-right" style="padding-right: 5px;">
                            <sup>*</sup><i translate>Fields with a red star are mandatory</i>
                        </p>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" data-ng-if="!new" translate>Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="text-center text-muted helper" data-ng-if="helper.length !== 0" style="padding-top:0;">
            <i data-ng-class="{'mdi-content-block': helper.length !== 0}" style="margin-top: 0;"></i>
            <p class="lead">{{helper.title}}</p>
            <p>{{helper.text}}</p>
        </div>
    </div>
</div>