<div class="col-md-8 col-md-offset-2" data-oc-lazy-load="['/bower_components/ngmap/build/scripts/ng-map.min.js']">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.cafes.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Cafés</a> 
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled><span data-ng-if="new" translate>New</span><span data-ng-if="!new" translate>Modify</span></a>
        </div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;">
                <form style="margin:0;" name="registerForm" class="form-horizontal" data-ng-submit="submit();">
                    <fieldset style="position: relative;">
                        <div class="form-group">
                            <label for="name" class="col-xs-3 control-label" data-autofocus>
                                <span translate>Name</span><sup class="text-danger">*</sup>
                            </label>
                            <div class="col-xs-8">
                                <input type="text" placeholder="{{'Name'|translate}}" name="name" data-ng-model="cafe.name" 
                                       id="name" class="form-control"  data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-xs-3 control-label" translate>Description</label>
                            <div class="col-xs-8">
                                <textarea rows="3" type="text" placeholder="{{'Description'|translate}}" name="description" 
                                          data-ng-model="cafe.description" id="description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-xs-3 control-label" translate>Place</label>
                            <div class="col-xs-8" map-lazy-load="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
                                <input type="text" class="form-control" id="homeAddress" ng-model="cafe.place" component-restrictions="{country:'be'}" types="['(cities)']" places-auto-complete>
                            </div>
                        </div>
                        <p class="text-danger text-right" style="padding-right: 5px;">
                            <sup>*</sup><i translate>Fields with a red star are mandatory</i>
                        </p>
                        <div class="text-right">
                            <a class="btn btn-default" ui-sref="home.cafes.main" translate>Cancel</a>
                            <button type="submit" class="btn btn-primary" data-ng-if="new" translate>Create</button>
                            <button type="submit" class="btn btn-primary" data-ng-if="!new" translate>Modify</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>