<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>
            List of disabled sessions
        </div>
        <div class="panel panel-default" data-ng-repeat="session in filteredSessions = (sessions | filter: filterDisabled)"  
             style="margin-bottom:10px">
            <div class="panel-body infoslist" style="padding:0;position: relative;">
                <div class="tableList">
                    <div class="row">
                        <div class="pull-left" style="padding:0px 15px 0px 15px;height: 139px;width: 115px;">
                            <div  style="height: 179px;width:90px;" data-ng-style="session.image"></div>
                        </div>
                        <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                            <div class="wna DVb">
                                <div class="E9a G9a Rqc" style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                                    <h3 class="panel-title" style="padding:0;">
                                        {{session.title}}
                                    </h3>
                                </div>
                            </div>
                            <div class="wna DVb" style="height:20px;overflow: hidden;text-overflow: ellipsis;">
                                <div class="y4 G9a">{{session.description}}</div>
                            </div>
                            <div class="wna DVb" style="padding-top: 3px;padding-bottom: 2px;">
                                <div class="y4 G9a"><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong></div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-social-people"></i> <span translate>Followed by</span> <strong>{{session.followers}}</strong> <span translate>participants</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="padding:0px 10px 10px 0px;">
                    <a class="btn btn-raised btn-primary" href data-ng-click="reEnableSession(session);" style="margin: 0;padding: 5px 5px;" translate>
                        Re-enable
                    </a>
                </div>
                <div class="pull-right" style="padding:0px 10px 10px 0px;">
                    <a class="btn btn-raised btn-danger" href data-ng-click="deleteSession(session);" style="margin: 0;padding: 5px 5px;" translate>
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center text-muted helper" data-ng-if="helperDisabled.length !== 0">
            <p class="lead">{{helperDisabled.title}}</p>
        </div>
    </div>
        <div class="row">
        <div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>
            List of enabled sessions
        </div>
        <div class="panel panel-default" data-ng-repeat="session in filteredSessions = (sessions | filter: filterEnabled)"  
             style="margin-bottom:10px">
            <div class="panel-body infoslist" style="padding:0;position: relative;">
                <div class="tableList">
                    <div class="row">
                        <div class="pull-left" style="padding:0px 15px 0px 15px;height: 139px;width: 115px;">
                            <div  style="height: 179px;width:90px;" data-ng-style="session.image"></div>
                        </div>
                        <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                            <div class="wna DVb">
                                <div class="E9a G9a Rqc" style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                                    <h3 class="panel-title" style="padding:0;">
                                        {{session.title}}
                                    </h3>
                                </div>
                            </div>
                            <div class="wna DVb" style="height:20px;overflow: hidden;text-overflow: ellipsis;">
                                <div class="y4 G9a">{{session.description}}</div>
                            </div>
                            <div class="wna DVb" style="padding-top: 3px;padding-bottom: 2px;">
                                <div class="y4 G9a"><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-social-person"></i> <span translate>Animated by</span> <strong>{{session.userID}}</strong></div>
                            </div>
                            <div style="padding-top: 3px;padding-bottom: 2px;">
                                <div><i class="mdi-social-people"></i> <span translate>Followed by</span> <strong>{{session.followers}}</strong> <span translate>participants</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="padding:0px 10px 10px 0px;">
                    <a class="btn btn-raised btn-danger" href data-ng-click="disableSession(session);" style="margin: 0;padding: 5px 5px;" translate>
                        Disable
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center text-muted helper" data-ng-if="helperEnabled.length !== 0">
            <p class="lead">{{helperEnabled.title}}</p>
        </div>
    </div>
</div>