<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Coming sessions</div>
<div class="panel panel-default" data-ng-repeat="session in filteredSessions = (sessions | filter: filterUpcoming)" style="margin-bottom:10px" data-ng-class="{'opacity4 grayscale': session.disabled}">
    <div class="panel-body infoslist" style="padding:0;position: relative;">
        <div class="tableList">
            <div class="row">
                <div class="pull-left" style="padding:0px 15px 0px 15px;height: 90px;width: 115px;">
                    <div  style="height: 130px;width:90px;" data-ng-style="session.image"></div>
                </div>
                <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                    <div class="wna DVb">
                        <div class="E9a G9a Rqc" style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                            <h3 class="panel-title" style="padding:0;">
                                {{session.title}}
                            </h3>
                        </div>
                    </div>
                    <div class="wna DVb" style="padding-top: 3px;padding-bottom: 2px;">
                        <div class="y4 G9a"><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-social-people"></i> <span translate>Followed by</span> <strong>{{session.followers}}</strong> <span translate>participants</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" style="padding:0px 10px 10px 0px;">
            <a data-ng-disabled="session.disabled" class="btn btn-raised btn-danger" href data-ng-click="disableSession(session);" style="margin: 0;padding: 5px 5px;margin-right: 5px;" translate>
                Disable
            </a>
            <a data-ng-disabled="session.disabled" class="btn btn-raised btn-primary" ui-sref="home.sessions.edit({id:session._id})" style="margin: 0;padding: 5px 5px;" translate>
                Edit
            </a>
        </div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helper.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helper.title}}</p>
    <p>{{helper.text}}</p>
</div>
<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;" translate>Archived sessions</div>
<div class="panel panel-default" data-ng-repeat="session in filteredSessions = (sessions | filter: filterArchived)" style="margin-bottom:15px">
    <div class="panel-body infoslist" style="padding:0;position: relative;">
        <div class="tableList">
            <div class="row">
                <div class="pull-left" style="padding:0px 15px 0px 15px;height: 90px;width: 115px;" data-ng-class="{'grayscale': session.disabled}">
                    <div  style="height: 90px;width:90px;" data-ng-style="session.image"></div>
                </div>
                <div class="pull-right" style="width: calc(100% - 115px);padding-right: 25px;">
                    <div>
                        <div style="padding-top: 5px;padding-bottom: 5px;white-space: nowrap;overflow: hidden;">
                            <h3 class="panel-title" style="padding:0;">
                                {{session.title}}
                            </h3>
                        </div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-device-access-time"></i> <span translate>On</span> <strong>{{session.start | fullMonthDateFormat}}</strong> <span translate>At</span> <strong>{{session.start | timeFormat}}</strong></div>
                    </div>
                    <div style="padding-top: 3px;padding-bottom: 2px;">
                        <div><i class="mdi-social-people"></i> <span translate>Followed by</span> <strong>{{session.followers}}</strong> <span translate>participants</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="helperArchived.length !== 0" style="padding-top: 0;">
    <p class="lead">{{helperArchived.title}}</p>
    <p>{{helperArchived.text}}</p>
</div>
<a class="btn btn-primary btn-fab btn-raised mdi-content-add action-button" ui-sref="home.sessions.new" style="z-index:1000;"></a>