<div class="col-md-8 col-md-offset-2" data-oc-lazy-load="['/bower_components/ng-file-upload/ng-file-upload.min.js']">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.sessions.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Sessions</a> 
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled><span data-ng-if="new" translate>New</span><span data-ng-if="!new" translate>Modify</span></a>
        </div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;">
                <form style="margin:0;" name="registerForm" class="form-horizontal" data-ng-submit="submit();">
                    <fieldset style="position: relative;">
                        <div class="form-group">
                            <label for="title" class="col-xs-3 control-label" data-autofocus><span translate>Title</span><sup class="text-danger">*</sup></label>
                            <div class="col-xs-8">
                                <input type="text" placeholder="{{'Title'|translate}}" name="title" data-ng-model="session.title" 
                                       id="title" class="form-control"  data-ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-xs-3 control-label" translate>Description</label>
                            <div class="col-xs-8">
                                <textarea rows="5" type="text" placeholder="{{'Description'|translate}}" name="description" 
                                          data-ng-model="session.description" maxlength="230" ng-trim="false" id="description" class="form-control"></textarea>
                                <span class="help-block"><span translate>Number of characters left:</span> {{230 - session.description.length}}</span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputFile" class="col-xs-3 control-label" translate>Image</label>
                            <div class="col-xs-8">
                                <input type="text" readonly class="form-control floating-label" placeholder="{{'Browse...'|translate}}">
                                <input type="file" id="inputFile" ngf-select data-ng-model="session.file" ngf-pattern="image/*" ngf-max-size="5MB">
                                <span class="help-block" translate>Maximum file size is 5MB.</span>
                            </div>
                        </div> 
                       <div class="form-group" data-ng-if="!new">
                            <label for="preview" class="col-xs-3 control-label" translate>Current</label>
                            <div class="col-xs-8">
                                <div data-ng-style="session.image" style="height: 100px;width: 100px;"></div>
                            </div>
                        </div>
                        <div data-ng-hide="checkDateInput()">
                            <div class="form-group">
                                <label for="from" class="col-xs-3 control-label"><span translate>On</span><sup class="text-danger">*</sup></label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="fromdate" pick-a-date="session.startDate"
                                           pick-a-date-options="{ format: 'dd/mm/yyyy'}"  data-ng-required="true">
                                </div>
                                <span class="col-xs-2 text-center" style="font-weight: 700;padding-top: 7px;padding-right: 0;padding-left: 0;">
                                    <span translate>At</span><sup class="text-danger">*</sup>
                                </span>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="fromtime" pick-a-time="session.startTime" 
                                           pick-a-time-options="{ format: 'HH:i', interval: 5}" data-ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="checkDateInput()">
                            <div class="form-group">
                                <label for="from" class="col-xs-3 control-label"><span translate>On</span><sup class="text-danger">*</sup></label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control text-center" id="fromdate" data-ng-model="session.startDate"
                                           data-ng-required="true">
                                </div>
                                <span class="col-xs-2 text-center" style="font-weight: 700;padding-top: 7px;padding-right: 0;padding-left: 0;">
                                    <span translate>At</span><sup class="text-danger">*</sup>
                                </span>
                                <div class="col-xs-3">
                                    <input type="time" class="form-control text-center" id="fromtime" data-ng-model="session.startTime"  
                                           data-ng-required="true">
                                </div>
                            </div>
                        </div>
                        <p class="text-danger text-right" style="padding-right: 5px;">
                            <sup>*</sup><i translate>Fields with a red star are mandatory</i>
                        </p>
                        <div class="text-right">
                            <a class="btn btn-default" ui-sref="home.sessions.main" translate>Cancel</a>
                            <button type="submit" class="btn btn-primary" data-ng-if="new" translate>Create</button>
                            <button type="submit" class="btn btn-primary" data-ng-if="!new" translate>Modify</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>