.bigLogo
{
    background: url(../../img/logo-md.png) no-repeat center center;
    height: 155px;
    background-size: contain;
}

.logoLALZ
{
    background: url(../../img/lalz.png) no-repeat center center;
        height: 94px;
    width: 98px;
    background-size: contain;
}

@media (min-height: 400px) {
    .signin-gap{
        margin-top: 30px;
    }
}

@media (min-height: 527px) {
    .signin-gap{
        margin-top: 60px;
    }
}

@media (min-height: 600px) {
    .signin-gap{
        margin-top: 99px;
    }
}

@media (min-height: 700px) {
    .signin-gap{
        margin-top: 119px;
    }
}

p.sign-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.egle-light > .part1, .egle-light > .part2{
    font-weight: 400;
}

.help-block {
    margin-bottom: 0;
}

form.login input
{
    height: 44px!important;
    font-size: 16px;
}

form.login button
{
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-bottom: 10px;
    text-align: right;
}

form.login a
{
    transition: color 0.5s ease;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    padding: 20px 15px;
}

.sign-card {
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-bottom: 20px;
    width: 304px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.sign-more{
    margin: 0 0 10px;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.captcha > div > div > div{
    width: inherit!important;
}

/* <register> */
form.register input[type="text"], form.register input[type="password"]
{
    width: 100%;
    margin: 0;
    outline: 0;
    height: 32px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form.register button[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.register label, form.register a
{
    font-size: 12px;
    font-weight: 400;
}

form.register a
{
    transition: color 0.5s ease;
}

.register-card {
    padding: 20px 30px;
    margin: 0 auto 25px;
    margin-bottom: 20px;
    width: 304px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.form-inline .dropdown-menu > li > a {
    padding: 1px 20px!important;
}
 
/* </register> */