<div class="card-group">
    <div class="panel panel-default" style="border-bottom: none;">
        <div class="panel-title" style=" line-height: inherit;" translate>Account</div>
        <div class="panel-body">
            <div class="hc-list-infos">
                <div class="hc-list-table">
                    <div class="hc-list-table-row">
                        <div class="hc-list-table-left" translate>Username</div>
                        <div class="hc-list-table-right">{{user.username}}</div>
                    </div>
                    <div class="hc-list-table-row">
                        <div class="hc-list-table-left" translate>Password</div>
                        <div class="hc-list-table-right">
                            <a ui-sref="home.settings.password" translate class="btn btn-primary btn-raised btn-sm">Change</a>
                        </div>
                    </div>
                    <div class="hc-list-table-row">
                        <div class="hc-list-table-left" translate>Language</div>
                        <div class="hc-list-table-right">
                            <select class="form-control" data-ng-init="language = language" data-ng-model="$parent.language" 
                                    data-ng-options="language.value as language.name for language in languagesList"
                                    data-ng-change="changeLanguage();">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>